@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7fd;
  opacity: 1;
  background-image: linear-gradient(#95bfff 3.6px, transparent 3.6px),
    linear-gradient(90deg, #95bfff 3.6px, transparent 3.6px),
    linear-gradient(#95bfff 1.8px, transparent 1.8px),
    linear-gradient(90deg, #95bfff 1.8px, #f7f7fd 1.8px);
  background-size: 90px 90px, 90px 90px, 18px 18px, 18px 18px;
  background-position: -3.6px -3.6px, -3.6px -3.6px, -1.8px -1.8px,
    -1.8px -1.8px;
}
#header {
  background-color: #95bfff;
  color: #eee;
  font-family: "Fira Sans", sans-serif;
  height: 200px;
}

h1 {
  font-size: 72px;
}
